In [1]:
from pathlib import Path
import pandas as pd
csv_path = "Crime_Data_2010_2017.csv"
crime_df = pd.read_csv(csv_path)
crime_df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [4]:
drime_df = crime_df.dropna(how = "any")
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584316 entries, 0 to 1584315
Data columns (total 26 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   DR Number               1584316 non-null  int64
 1   Date Reported           1584316 non-null  object
 2   Date Occurred           1584316 non-null  object
 3   Time Occurred           1584316 non-null  int64
 4   Area ID                 1584316 non-null  int64
 5   Area Name               1584316 non-null  object
 6   Reporting District      1584316 non-null  int64
 7   Crime Code              1584316 non-null  int64
 8   Crime Code Description  1583904 non-null  object
 9   MO Codes                1412557 non-null  object
 10  Victim Age              1455657 non-null  float64
 11  Victim Sex              1439117 non-null  object
 12  Victim Descent          1439084 non-null  object
 13  Premise Code            1584240 non-null  float64
 14  Premise Description     1581565 non-null  object
 15  Weapon Used Code        524757 non-null   float64
 16  Weapon Description      524756 non-null   object
 17  Status Code             1584314 non-null  object
 18  Status Description      1584316 non-null  object
 19  Crime Code 1            1584309 non-null  float64
 20  Crime Code 2            99997 non-null    float64
 21  Crime Code 3            2183 non-null     float64
 22  Crime Code 4            69 non-null       float64
 23  Address                 1584316 non-null  object
 24  Cross Street            262733 non-null   object
 25  Location                1584307 non-null  object
dtypes: float64(7), int64(5), object(14)
memory usage: 314.3+ MB

KeyError: "['Location'] not in index"

In [10]:
clean_crimes = crime_df[["Date Occurred", "Time Occurred", "Area Name", "Reporting District", "Crime Code Description", "Victim Age", "Victim Sex", "Victim Descent", "Premise Description", "Location "]]
clean_crimes.rename(columns= {"Location ": "Location"})
clean_crimes.head()

,Date Occurred,Time Occurred,Area Name,Reporting District,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Description,Location
0,03/11/2013,1800,77th Street,1241,INTIMATE PARTNER - SIMPLE ASSAULT,30.0,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(33.9829, -118.3338)"
1,01/22/2010,2300,Olympic,2071,VEHICLE - STOLEN,NaN,NaN,NaN,STREET,"(34.0454, -118.3157)"
2,03/18/2013,2030,Southeast,1823,VEHICLE - STOLEN,12.0,NaN,NaN,STREET,"(33.942, -118.2717)"
3,11/10/2010,1800,Southeast,1803,VEHICLE - STOLEN,NaN,NaN,NaN,STREET,"(33.9572, -118.2717)"
4,01/04/2014,2300,Topanga,2133,VANDALISM - MISDEAMEANOR ($399 OR UNDER),84.0,M,W,SINGLE FAMILY DWELLING,"(34.2009, -118.6369)"

In [11]:
clean_crimes.to_csv("Cleaned_Crime_Data.csv")